@page
@using JsonFiles;
@model WebApplication_Powerwolf.Pages.testModel
@{
    ViewData["Title"] = "Band";
    List<BandMembers> bandmembers = (List<BandMembers>)ViewData["BandMembers"];
}
@*jeżeli pusta lista to komunikat
    zdjęcia z serwera xammp http
*@
<div class="text-center">
</div>
<h2 class="title">
    <span>Band History</span>
</h2>
<div class="card card-body">
    <p>
        The aptly titled Call Of The Wild, which was once again crafted by the venerable production duo of Jens Bogren and Joost van den Broek at Swedish Fascination Street Studios, will be unleashed in July 2021! A new chapter in the band's history will be opened, serving up beloved classic trademarks to long time and newly recruited POWERWOLF devotees alike. Call Of The Wild is surprising and delighting at every stage of this wild 11-track ride, with stylistic advancements on an unprecedented scale! “Faster Than The Flame” - an opening blast that ignites the bonfire in purest POWERWOLF manner as a fiery distillation of such fulminant album openers as “Amen & Attack” or “Fire & Forgive” - bears the distinctive signature of the creative minds around main songwriter Matthew Greywolf even in the first chords, and impressively demonstrates that the five-piece has undoubtedly succeeded in creating its very own, unmistakable sound over the course of the last one and a half decades.
    </p><br>
    <p>
        From this bomb-proof base, the wolves subsequently dare to take the stage with tracks like the outrageously catchy “Dancing With The Dead” (a future classic on every decent headbanger party playlist!), the wonderfully heretical “Glaubenskraft” and Attila Dorn's epic-emotional magic moment on “Alive Or Undead” - a power ballad on the highest level that finally cements the reputation of the frontman as an absolute exceptional bard!
    </p><br>
    <p>
        POWERWOLF enters new musical territory every minute, conquering it for themselves in almost the same second and turning it into one big firework of fresh influences. Lyrically – aside from the usual tongue-in-cheek heresy à la “Undress To Confess” – Call Of The Wild is the hour of mythical scary characters, who would all have good cards in the fight for the rank of official band mascot: While “Beast Of Gévaudan” tells the story of a legendary predator that spread fear and terror in southern France in the middle of the 18th century at top speed, the stomping “Varcolac” pays homage to the eponymous wolfish demon of Romanian folklore, before “Blood For Blood (Faoladh)” evokes the Irish relative of the moon worshiper known to us as "Werewolf" in front of a fitting sound backdrop. Finally, the final offering “Reverent Of Rats” puts a pompous exclamation mark behind a work that can rightfully be called the most multi-faceted in the band's history so far and which – beyond all promotional platitudes – is a hot contender for the top position among this year's metal releases!
    </p>
</div>

<h3 class="title">Band Members</h3>
<div class="list-group">
    @{
        foreach (BandMembers item in bandmembers)
        {
            string temp = "#" + @item.Id + "_" + item.FirstName;
            <a href="@temp" class="list-group-item list-group-item-action">@item.Nickname</a>
        }
    }
</div>
<br><br>
@{
    foreach (BandMembers item in bandmembers)
    {
        string temp = @item.Id + "_" + item.FirstName;
        <div id="@temp" style="display:flex; justify-content:center;justify-self:center;justify-items:center">
            <div class="card mb-3" style="max-width:80%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        @{ temp = "http://localhost/Photos/" + @item.Id + "_" + item.FirstName + ".webp"; }
                        <img id="section-@item.Id" src="@temp" class="img-fluid rounded-start" alt="@item.Nickname">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nickname</h5>
                            @{
                                temp = @item.Description;
                                temp = temp.ToString().Replace("\n", "<br />");
                            }
                            <p class="card-text">@Html.Raw(temp)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}