@page
@using JsonFiles;
@model WebApplication_Powerwolf.Pages.testModel
@{
    ViewData["Title"] = "Test";
    List<News> news = (List<News>) ViewData["News"];
}
@*jeżeli pusta lista to komunikat
    zdjęcia z serwera xammp http
*@
<div class="text-center">
    <h2 class="display-2">News</h2>
</div>
        @{
            foreach(News item in news)
            {
                string id="id_"+item.Id,id2="#"+id;
        <div class="card text-center">
            <div class="card-header">
                @item.Title
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">@item.ShortDescription</p>
                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="@id2" role="button" aria-expanded="false" aria-controls="@item.Id">
                        Read More
                    </a>
                </p>
                <div class="collapse" id="@id">
                    <div class="card card-body">
                        @item.LongDescription
                        <br>
                        <div class="text-center">
                        <img src="@item.Image" class="rounded" width="80%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                @item.Date
            </div>
        </div>
        <br>
        <br>
            }
        }